@use "./partials/_mixins";

* {
  margin: 0;
}

.flag__stripe {
  width: 100vw;
  height: 33vh;
}

@media only screen and (max-width: 600px) {
  @include mixins.flag-stripe-colors(
    black,
    rgb(255, 45, 45),
    rgb(255, 223, 44)
  );
}

@media only screen and (min-width: 601px) and (max-width: 899px) {
  @include mixins.vertical-stripe-orientation;
  @include mixins.flag-stripe-colors(
    black,
    rgb(255, 223, 44),
    rgb(255, 45, 45)
  );
}

@media only screen and (min-width: 900px) {
  @include mixins.vertical-stripe-orientation;
  @include mixins.flag-stripe-colors(seagreen, white, rgb(255, 146, 45));
}
