* {
    font-family: Arial;
}

.header__border {
    border: 3px dashed green;
}

.header__border--coral {
    border: 2px solid coral;
}

.header__title--centered {
    text-align: center;
}

.header__paragraph--blue {
    color: blue;
    text-decoration: line-through;
}

.header__paragraph--right {
    text-align: right;
}