body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 900px;
}

div {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card4 {
    background: lightblue;
}

.card5 {
    background-color: orange;
}

.card6 {
    background-color: hotpink;
}

.card7 {
    background-color: crimson;
}