.even_card {
  background-color: rgb(80, 110, 145);
}

.odd_card {
  background-color: lightblue;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  height: 150px;
  width: 200px;
  padding: 10px 20px;
  color: black;
}

.title {
  margin: 0;
  font-size: 16px;
}

.text {
  &_primary {
    margin: 0;
    font-size: 14px;
  }
  &_secondary {
    margin: 0;
    font-size: 14px;
  }
}
