input {
    border: 2px solid;
    border-radius: 5px;
    background-color: lightskyblue;
    margin: 5px;
}

input:disabled {
    border-color: lightgray;
    background-color: rgb(252, 252, 252);
}

input:required {
    border-color: red;
}

button {
    margin: 5px;
    border-radius: 5px;
    background-color: lightskyblue;
}

button:disabled {
    background-color: white;
    color: rgb(90, 90, 90);
}