body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 900px;
}

div {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card8 {
    background: lightblue;
}

.card9 {
    background-color: orange;
}

.card10 {
    background-color: hotpink;
}

.card11 {
    background-color: crimson;
}

.card12 {
    background-color: lightgreen;
}