* {
    font-family: Arial;
}

div {
    background-color: rgb(41, 255, 148);
    border: 3px solid salmon;
    padding: 35px 0;
}

div > div {
    background-color: rgb(233, 100, 162);
    padding: 50px;
    margin-left: 1px;
}

p {
    margin-left: 25px;
}

h2 {
    font-size: xx-large;
}