* {
    font-family: Arial;
}

h1 {
    color: salmon;
    text-align: center;
}

h2 {
    color: green;
}

p {
    text-align: right;
}

div {
    border: 2px solid black;
}

div > p {
    text-align: left;
    margin: 0 50px;
    font-weight: bold;
}

div > p:first-child {
    font-style: italic;
    text-decoration: underline;
}