.card {
  border: 1px solid white;
  border-radius: 6px;
  padding: 15px;
  width: 200px;
  color: rgb(24, 24, 24);

  &_odd {
    background-color: lightblue;
  }

  &_even {
    background-color: rgb(122, 183, 204);
  }
}
