body {
    display: flex;
    justify-content: center;
}

main {
    border: 3px solid black;
    display: flex;
    flex-direction: column-reverse;
    width: 600px;
}

.row-items {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.column-items {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

p {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card-1 {
    background-color: lightblue;
}

.card-2 {
    background-color:lightcoral;
}

.card-3 {
    background-color: lightgreen;
}

.card-4 {
    background-color: lightsalmon;
}

.card-5 {
    background-color: lightpink;
}

.card-6 {
    background-color: lightgray;
}

.card-7 {
    background-color: lightcyan;
}

.card-8 {
    background-color:skyblue;
}